<div class="space">
</div>
<%= @birthday %>

<div class="mydog_show">
    <div class="users_header">
        <div class="users_header1">
            <ul>
                <%= link_to("ホーム","/users/#{@user.id}") %>
                <%= link_to("ワンちゃんプロフィール","/users/mydog/#{@user.id}") %>
                <%= link_to("預かり依頼/エントリー","/users/rely/#{@user.id}") %>
                <%= link_to("評価","/users/evaluation/#{@user.id}") %>
                <%= link_to("利用履歴","/users/history/#{@user.id}") %>

            </ul>
        </div>
    </div>

<!------------ドッグ情報 each文------------------>
    <% if @dog %>
        <% @dogs.each do | dog | %>
            <div class="show_wrapp">
                <div class="info_wrapp">
                    <% if dog.image_name %>
<!------------アイコンあり------------------>
                        <div class="icon_wrapp">
                            <div class="users_icon33">
                                <img class="icon_img" src="<%= "/dog_images/#{dog.image_name}" %>" alt="">
                            </div>
                        </div>
                    <% else %>
<!------------アイコンなし------------------>
                        <div class="dog_icon_mydog" id="myd_ic">
                            <i id="dog_icon_mydog22" class="fas fa-dog fa-5x fa-dog11"></i>
                        </div>
                    <% end %>
<!------------ドッグ詳細------------------>
                    <div class="user_info">
                        <div class="show_user_name">
                            <%= dog.name %>
                        </div>
                        <%
                        @birthday = Date.parse(dog.birthday)
                        @year = @date.year -  @birthday.year
                        @month = @date.month - @birthday.month
                        @day = @date.day - @birthday.day

                        if @month >= 0
                        else
                            @month = @month + 12
                            @year -= 1
                        end

                        if @day >= 0
                        else
                        	@month = @month - 1
                            if @month < 0
                                @month = 11
                                @year -= 1
                                if 0 >= @year
                                    @year = 0
                                end
                            end
                        end
                        %>
                        <div class="edit_wrapp">
                            <div class="show_user_sex00">
                                  <%=
                                        if 0 >= @year
                                            "#{dog.sex}/#{@month}ヶ月"
                                        else
                                            "#{dog.sex}/#{@year}年#{@month}ヶ月"
                                        end
                                  %>

                            </div>
                            <div id="edit00">
                                <%= link_to("/users/dog_edit/#{dog.id}") do %>
                                    <div class="support_button edit_button" id="edit_button00">
                                        <p>基本情報を編集する</p>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="user_details_wrapp">
                            <div class="show_user_details">
                                <p class="detail_performance">ワンちゃん基本情報</p>
                            </div>
                            <div class="show_user_details">
                                <p class="detail_move1">・犬種：</p>
                                <p class="detail_move"><%= dog.dog_breed %></p>
                                <p class="detail_move1">・体重：</p>
                                <p class="detail_move1"><%= dog.weight %></p>
                                <p class="">・去勢/避妊手術：</p>
                                <p class="detail_move"><%= dog.castration %></p>
                                <p class="">・狂犬病ワクチン：</p>
                                <p><%= dog.rabies %></p>
                            </div>
                            <div class="show_user_details">
                                <p class="detail_performance">性格</p>
                            </div>
                            <div class="show_user_details1">
                                <p><%= dog.character %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% @info = Information.find_by(dog_id: dog.id) %>
                <% if @info %>
                    <div id="introduction_mydog22">
                        <%= @info.introduction %>
                    </div>
                <% else %>
                    <%= form_tag("/dog/introduction/#{dog.id}") do %>
                        <div id="introduction_mydog11">
                            <div class="introduction_input">
                                <textarea class="introduction_text1" maxlength="250" name="introduction" rows="8" cols="20" placeholder="ワンちゃんの紹介文を書きましょう（250文字以内）"></textarea>
                            </div>
                            <input id="input_submit" type="submit" name="update" value="更新する">
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
    <% if @dog_count <= 2 %>
        <div class="button_center">
            <i class="fas fa-plus add_plus"></i>
            <i class="fas fa-dog add_dog_icon fa-2x"></i>
            <%= link_to("/dog/new/#{@user.id}") do %>
                <div class="dog_button">
                    <p class="dog_btn">ワンちゃんを追加する</p>
                </div>
            <% end %>
        </div>
    <% end %>
<% else %>
<div class="dog_container_my">
    <div class="dog_head">
        <h2>ワンちゃんプロフィール作成</h2>
    </div>
    <!---
    %= form_tag("/dog/create",{multipart: true}) do %>
-->
    <form action="/dog/create" id="checkDog" method="post" enctype="multipart/form-data">

        <div class="dog_item dog_name1">
            <p class="dog_name">お名前<span>*</span></p>
            <%= text_field :page, :name, :class => 'em', :maxlength => '10', :value => "#{@name_val}", :required => true %>
        </div>

        <div class="dog_item dog_name3">
            <label for="sample1">プロフィール画像
                <input type="file" name="image_name" class="file" value="<%= @image_val %>"/>
            </label>
        </div>

        <div class="notation">
            <p class="notation1">
              ※最大10MBまで(GIF,JPG,PNG)
            </p>
        </div>

        <div class="dog_item">
            <p class="dog_name">性別<span>*</span></p>
            <div class="ch">
                <%= radio_button 'sex_kind', 'category', '男の子', {:checked => @check1} %><label for="sex_kind_category_男の子">男の子</label>
                <%= radio_button 'sex_kind', 'category', '女の子', {:checked => @check2} %><label for="sex_kind_category_女の子">女の子</label>
            </div>
        </div>
        <div id="sex_notice" class="dog_notice"></div>

        <div class="dog_item dog_name2">
            <p class="dog_name">年齢<span>*</span></p>
            <div class="birt">
                <%= select :year, :choice, [[@year2, @year2],["2019", "2019"],["2018", "2018"],["2017", "2017"],["2016", "2016"],["2015", "2015"],["2014", "2014"],["2013", "2013"],["2012", "2012"],["2011", "2011"],["2010", "2010"],["2009", "2009"],["2008", "2008"],["2007", "2007"],["2006", "2006"],["2005", "2005"],["2004", "2004"],["2003", "2003"],["2002", "2002"],["2001", "2001"],["2000", "2000"]] %>　年


                <%= select :month, :choice, [[@month2, @month2],["1", "1"],["2", "2"],["3", "3"],["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"],["11", "11"],["12", "12"]], required: true %>　月

                <%= select :day1, :choice, [[@day2, @day2],["1", "1"],["2", "2"],["3", "3"],["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"],["11", "11"],["12", "12"],["13", "13"],["14", "14"],["15", "15"],["16", "16"],["17", "17"],["18", "18"],["19", "19"],["20", "20"],["21", "21"],["22", "22"],["23", "23"],["24", "24"],["25", "25"],["26", "26"],["27", "27"],["28", "28"],["29", "29"],["30", "30"],["31", "31"]] %>　日
            </div>
        </div>
        <div id="age_notice" class="dog_notice"></div>

        <div class="dog_item dog_name2">
            <p class="dog_name">犬種<span>*</span></p>
            <div class="birt2">
                <%= select :dog_breed, :choice, [[@breed, @breed],["ポメラニアン", "ポメラニアン"], ["トイプードル", "トイプードル"], ["チワワ", "チワワ"], ["フレンチブルドック", "フレンチブルドック"], ["ヨークシャテリア", "ヨークシャテリア"], ["シーズー", "シーズー"], ["ミニチュアダックス", "ミニチュアダックス"], ["パグ", "パグ"], ["ミックス", "ミックス"], ["ミニチュアシュナウザー", "ミニチュアシュナウザー"], ["パピヨン", "パピヨン"], ["豆しば", "豆しば"], ["ペキニーズ", "ペキニーズ"], ["マルチーズ", "マルチーズ"], ["コーギー", "コーギー"], ["ミニチュアピンシャー", "ミニチュアピンシャー"], ["キャバリア", "キャバリア"], ["ジャックラッセルテリア", "ジャックラッセルテリア"], ["ビーグル", "ビーグル"], ["その他", "その他"]] %>
            </div>
        </div>
        <div id="breed_notice" class="dog_notice"></div>

        <div class="dog_item dog_name2">
            <p class="dog_name">体重<span>*</span></p>
            <div class="birt2">
                <%= select :weight, :choice, [[@weight2, @weight2],["〜1kg", "〜1kg"], ["1kg〜1.5kg", "1kg〜1.5kg"], ["1.5kg〜2kg", "1.5kg〜2kg"], ["2kg〜2.5kg", "2kg〜2.5kg"], ["2.5kg〜3kg", "2.5kg〜3kg"], ["3kg〜3.5kg", "3kg〜3.5kg"], ["3.5kg〜4kg", "3.5kg〜4kg"], ["4kg〜4.5kg", "4kg〜4.5kg"],["4.5kg〜5kg", "4.5kg〜5kg"], ["5kg〜5.5kg", "5kg〜5.5kg"], ["5.5kg〜6kg", "5.5kg〜6kg"], ["6kg〜6.5kg", "6kg〜6.5kg"], ["6.5kg〜7kg", "6.5kg〜7kg"], ["7kg〜7.5kg", "7kg〜7.5kg"], ["7.5kg〜8kg", "7.5kg〜8kg"], ["8kg〜8.5kg", "8kg〜8.5kg"], ["8.5kg〜9kg", "8.5kg〜9kg"], ["9kg〜9.5kg", "9kg〜9.5kg"], ["9.5kg〜10kg", "9.5kg〜10kg"], ["10kg〜", "10kg〜"]] %>
            </div>
        </div>
        <div id="weight_notice" class="dog_notice"></div>

        <div class="dog_item">
            <p class="dog_name5">性格・特徴</p>
            <div class="birt3">
                <p>
                    <%= check_box "character", "人懐っこい", id: "character_ch1" %><label for="character_ch1">人懐っこい</label>
                    <%= check_box  "character", "人見知り", id: "character_ch2", class: "remove0" %><label for="character_ch2">人見知り</label>
                    <%= check_box "character", "ベタベタ", id: "character_ch3", class: "remove4" %><label for="character_ch3">ベタベタ</label>
                    <%= check_box "character", "サバサバ", id: "character_ch4", class: "remove4" %><label for="character_ch4">サバサバ</label>
                </p>
                <p>
                    <%= check_box "character", "のんびり", id: "character_ch5" %><label for="character_ch5">のんびり</label>
                    <%= check_box  "character", "バタバタ", id: "character_ch6", class: "remove2" %><label for="character_ch6">バタバタ</label>
                    <%= check_box "character", "吠える", id: "character_ch7", class: "remove4" %><label for="character_ch7">吠える</label>
                    <%= check_box "character", "吠えない", id: "character_ch8", class: "remove7" %><label for="character_ch8">吠えない</label>
                </p>

                <p>
                    <%= check_box "character", "臆病", id: "character_ch9", class: "remove1" %><label for="character_ch9">臆病</label>
                    <%= check_box  "character", "大胆", id: "character_ch10", class: "remove3" %><label for="character_ch10">大胆</label>
                    <%= check_box "character", "犬好き", id: "character_ch11", class: "remove5" %><label for="character_ch11">犬好き</label>
                    <%= check_box "character", "犬嫌い", id: "character_ch12", class: "remove7" %><label for="character_ch12">犬嫌い</label>
                </p>

                <p>
                    <%= check_box "character", "気が強い", id: "character_ch13", class: "remove1" %><label for="character_ch13">気が強い</label>
                    <%= check_box  "character", "気が弱い", id: "character_ch14", class: "remove2" %><label for="character_ch14">気が弱い</label>
                    <%= check_box "character", "気性が激しい", id: "character_ch15", class: "remove4" %><label for="character_ch15">気性が激しい</label>
                    <%= check_box "character", "穏やか", id: "character_ch16", class: "remove1" %><label for="character_ch16">穏やか</label>
                </p>

                <p>
                    <%= check_box "character", "散歩好き", id: "character_ch17", class: "remove1" %><label for="character_ch17">散歩好き</label>
                    <%= check_box  "character", "よく寝る", id: "character_ch18", class: "remove2" %><label for="character_ch18">よく寝る</label>
                    <%= check_box "character", "好奇心旺盛", id: "character_ch19", class: "remove4" %><label for="character_ch19">好奇心旺盛</label>
                    <%= check_box "character", "自由奔放", id: "character_ch20", class: "remove8" %><label for="character_ch20">自由奔放</label>
                </p>

                <p>
                    <%= check_box "character", "従順", id: "character_ch21", class: "remove" %><label for="character_ch21">従順</label>
                    <%= check_box  "character", "噛み癖がある", id: "character_ch22", class: "remove3" %><label for="character_ch22">噛み癖がある</label>
                    <%= check_box "character", "男性が好き", id: "character_ch23", class: "remove6" %><label for="character_ch23">男性が好き</label>
                    <%= check_box "character", "女性が好き", id: "character_ch24", class: "remove8" %><label for="character_ch24">女性が好き</label>
                </p>
            </div>
        </div>
        <div class="notation2">
            <p class="notation3">
                ※複数選択可
            </p>
        </div>

        <div class="dog_item">
            <p class="dog_name">去勢・避妊手術<span>*</span></p>
            <div class="ch2" id="castration_check">
                <%= radio_button 'castration', 'category', 'している', {:checked => @check3} %><label for="castration_category_している">している</label>
                <%= radio_button 'castration', 'category', 'してない', {:checked => @check4} %><label for="castration_category_してない">してない</label>
            </div>
        </div>
        <div id="castration_notice" class="dog_notice"></div>

        <div class="dog_item">
            <p class="dog_name">狂犬病ワクチン<span>*</span></p>
                <div class="ch2" id="rabies_check">
                    <input class="rabies_check" id="Radio1" type="radio" name="rabies" value="している" checked><label for="Radio1">している</label>
                    <input class="rabies_check" id="Radio2" type="radio" name="rabies" value="してない" required><label for="Radio2">してない</label>
                </div>
        </div>
        <div id="rabies_notice" class="dog_notice"></div>
         <div id="output"></div>
         <div class="notice">
            <p>利用規約に同意の上ご登録ください</p>
         </div>

         <div class="submit">
             <input id="dog_submit" type="submit" value="プロフィール作成">
         </div>
    </form>
    <!--
    % end %>-->
</div>
<% end %>

<script type="text/javascript">
    var sex = '',
        year = '',
        month = '',
        day = '',
        breed = '',
        weight = '',
        category = '',
        rabies = 'している',
        $sex = $('.ch').find('input[type="radio"]'),
        $year = $('.birt').find('#year_choice'),
        $month = $('.birt').find('#month_choice'),
        $day = $('.birt').find('#day1_choice'),
        $breed = $('.birt2').find('#dog_breed_choice'),
        $weight = $('.birt2').find('#weight_choice'),
        $category = $('#castration_check').find('input[type="radio"]'),
        $rabies = $('#rabies_check').find('.rabies_check');




    $sex.on('click', function(){
        sex = $(this).val();
        $('#sex_notice').css('display', 'none');
    });

    $year.on('input', function(){
        year = $year.val();
        if(year != '' &&  month != '' && day != ''){
            $('#age_notice').css('display', 'none');
        }
    });
    $month.on('input', function(){
        month = $month.val();
        if(year != '' &&  month != '' && day != ''){
            $('#age_notice').css('display', 'none');
        }
    });
    $day.on('input', function(){
        day = $day.val();
        if(year != '' &&  month != '' && day != ''){
            $('#age_notice').css('display', 'none');
        }
    });
    $breed.on('input', function(){
        breed = $breed.val();
        $('#breed_notice').css('display', 'none');
    });
    $weight.on('input', function(){
        weight = $weight.val();
        $('#weight_notice').css('display', 'none');
    });
    $category.on('click', function(){
        category = $(this).val();
        $('#castration_notice').css('display', 'none');
    });
    $rabies.on('click', function(){
        rabies = $(this).val();
        if(rabies == 'してない'){
            $('#output').text('※狂犬病ワクチンをしていないワンちゃんはサービスをご利用できません。');
            $('#output').show();
        }else{
            $('#output').hide();
            $('#rabies_notice').css('display', 'none');
        }
    });


    $('#checkDog').on('submit', function(){
        if(sex == '' || (year == '' ||  month == '' || day == '') || breed == '' || weight == '' || category == '' || rabies == 'してない'){
            if(sex == ''){
                $('#sex_notice').css('display', 'block').text('選択してください');
            }
            if(year == '' ||  month == '' || day == ''){
                $('#age_notice').css('display', 'block').text('選択してください');
            }
            if(breed == ''){
                $('#breed_notice').css('display', 'block').text('選択してください');
            }
            if(weight == ''){
                $('#weight_notice').css('display', 'block').text('選択してください');
            }
            if(category == ''){
                $('#castration_notice').css('display', 'block').text('選択してください');
            }
            if(rabies == 'してない'){
                $('#rabies_notice').css('display', 'block').text('狂犬病ワクチンをしていないワンちゃんはご利用できません');
                $('#output').hide();
            }

            return false;
        }

    });
</script>
