<div class="space">
</div>

<div class="evaluation_show">
    <div class="evaluation_wrapp">
        <div class="profile00">
<!---------アイコンの有無---------------->
            <div class="icon_wrapp_evaluation">
                <div class="users_icon">
                    <% if @user.image_name %>
                        <%= link_to("/users/seen/#{@user.id}") do %>
                            <img class="icon_img" src="<%= "/user_images/#{@user.image_name}" %>" alt="">
                        <% end %>
                    <% else %>
                        <%= link_to("/users/edit/#{@user.id}") do %>
                            <i class="fas fa-user-circle fa-8x icon_color"></i>
                            <div class="icon_add">
                                <i class="fas fa-camera fa-2x icon_camera2"></i>
                                <i class="fas fa-plus icon_plus2"></i>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="evaluation_name">
                <%= @user.name %>
            </div>
            <div class="evaluation_info">
                <h4>実績</h4>
                <div class="evaluation_containar move_m">
                    <p>利用回数</p>
                    <p class="elacement"><%= @num %></p>
                </div>
                <div class="evaluation_containar">
                    <p>評価</p>
                    <div class="">
                        <% if @user_evaluation.nan? %>
                            <p><i class="fas fa-star move_star"></i>ー</p>
                        <% else %>
                            <i class="fas fa-star move_star"></i>
                            <%= @user_evaluation %>
                        <% end %>
                    </div>
                </div>
                <div class="evaluation_containar">
                    <p>フォロワー</p>
                    <p><%= @num_follow %></p>
                </div>
            </div>

            <div class="detaile_pro">
                <h4 class="">認証状況</h4>
                <div class="detaile_pro_move">
                    <p class="id_detail">本人確認</p>
                    <% if @user_detail %>
                        <% if @user_detail.approval == 1 %>
                            <i class="fas fa-user-circle human no_pa no_ma" id="user_icon_ma"></i>
                            <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                        <% else %>
                            <i class="fas fa-user-circle human  no_pa no_ma"></i>
                            <p class="">ー</p>
                        <% end %>
                        <% else %>
                            <i class="fas fa-user-circle human no_pa no_ma"></i>
                            <p class="">ー</p>
                    <% end %>
                </div>
                <div class="detaile_pro_move">
                    <p class="id_detail">受け取り口座</p>
                    <% if @bank %>
                        <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="bank_fin"></i>
                        <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                    <% else %>
                        <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="bank_fin"></i>
                        <p class="">ー</p>
                    <% end %>
                </div>
                <div class="detaile_pro_move">
                    <p class="id_detail">お支払い方法</p>
                    <% if @user_detail %>
                        <% if @user_detail.pay == 1 %>
                            <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                            <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                        <% else %>
                            <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                            <p>ー</p>
                        <% end %>
                    <% else %>
                        <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                        <p>ー</p>
                    <% end %>
                </div>
            </div>
        </div>

<!-----感想-------------------------------------->
        <div class="evaluation_content1">
            <div class="evaluation_content3">
                <h3>評価/感想</h3>
                <% if @number != 0 || @number2 != 0 %>
                    <% @evaluations_storages.each do | evaluation | %>
                        <% @rater = User.find_by(id: evaluation.rater_id) %>
                        <div class="user_containar">
                            <% if @rater.image_name %>
    <!-----user_containar要素1-------------------------------------->
                                <div class="icon_wrapp_evaluation">
                                    <%= link_to("/users/seen/#{@rater.id}") do %>
                                        <div class="users_icon">
                                            <img class="icon_img" src="<%= "/user_images/#{@rater.image_name}" %>" alt="">
                                        </div>
                                    <% end %>
                                    <p class="rater_name"><%= @rater.name %></p>
                                </div>
                            <% else %>
                                <div class="icon_wrapp_evaluation">
                                    <div class="users_icon">
                                        <%= link_to("/users/seen/#{@rater.id}") do %>
                                            <i class="fas fa-user-circle fa-8x icon_color"></i>
                                            <div class="icon_add">
                                                <i class="fas fa-camera fa-2x icon_camera2"></i>
                                                <i class="fas fa-plus icon_plus2"></i>
                                            </div>
                                        <% end %>
                                    </div>
                                    <p class="rater_name"><%= @rater.name %></p>
                                </div>
                            <% end %>

    <!-----user_containar要素2-------------------------------------->
                            <div class="evaluation1_containar">
                                <p>評価</p>
                                <div class="">
                                    <i class="fas fa-star move_star"></i>
                                    <%= evaluation.overall %>
                                </div>
                            </div>
    <!-----user_containar要素3-------------------------------------->
                            <div class="introduction1_wrap11">
                                <div class="introduction11">
                                    <div class="box11">
                                        <p><%= evaluation.comment %></p>
                                    </div>
                                </div>
                                <p><%= evaluation.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                            </div>
    <!-----user_containar終了-------------------------------------->
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-----スマホ------->

<div id="seen_eva_ss">
    <div class="evaluation_head">
        <h1>他のユーザーからの評価</h1>
    </div>
    <div class="user_info_ss">
        <div class="users_icon" id="users_icon_eva_ss">
            <% if @user.image_name %>
                <%= link_to("/users/seen/#{@user.id}") do %>
                    <img class="icon_img" src="<%= "/user_images/#{@user.image_name}" %>" alt="">
                <% end %>
            <% else %>
                <%= link_to("/users/edit/#{@user.id}") do %>
                    <i class="fas fa-user-circle fa-8x icon_color"></i>
                <% end %>
            <% end %>
        </div>
        <div class="evaluation_name" id="evaluation_name">
            <%= @user.name %>
        </div>
    </div>
    <div class="evaluation_info" id="evaluation_info_ss">
        <h4>実績</h4>
        <div class="evaluation_containar move_m" id="evaluation_containar">
            <p>利用回数</p>
            <p class="elacement"><%= @num %></p>
        </div>
        <div class="evaluation_containar" id="evaluation_containar">
            <p>評価</p>
            <div class="">
                <% if @user_evaluation.nan? %>
                    <p><i class="fas fa-star move_star" id="eva_star"></i>ー</p>
                <% else %>
                    <p><i class="fas fa-star move_star" id="eva_star"></i>
                    <%= @user_evaluation %></p>
                <% end %>
            </div>
        </div>
        <div class="evaluation_containar" id="evaluation_containar">
            <p>フォロワー</p>
            <p><%= @num_follow %></p>
        </div>
    </div>
    <div class="evaluation_info" id="evaluation_info_ss2">
        <h4 class="">認証状況</h4>
        <div class="evaluation_containar move_m" id="evaluation_containar">
            <p class="id_detail">本人確認</p>
            <% if @user_detail %>
                <% if @user_detail.approval == 1 %>
                    <i class="fas fa-user-circle human no_pa no_ma" id="eva_star2_ss"></i>
                    <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma" id="eva_star2"></i></p>
                <% else %>
                    <i class="fas fa-user-circle human  no_pa no_ma" id="eva_star2_ss"></i>
                    <p class="">ー</p>
                <% end %>
                <% else %>
                    <i class="fas fa-user-circle human no_pa no_ma" id="eva_star2_ss"></i>
                    <p class="">ー</p>
            <% end %>
        </div>
        <div class="evaluation_containar move_m" id="evaluation_containar">
            <p class="id_detail">受け取り口座</p>
            <% if @bank %>
                <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="eva_star2_ss"></i>
                <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma" id="eva_star2"></i></p>
            <% else %>
                <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="eva_star2_ss"></i>
                <p class="">ー</p>
            <% end %>
        </div>
        <div class="evaluation_containar move_m" id="evaluation_containar">
            <p class="id_detail">お支払い方法</p>
            <% if @user_detail %>
                <% if @user_detail.pay == 1 %>
                    <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="eva_star2_ss"></i>
                    <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma" id="eva_star2"></i></p>
                <% else %>
                    <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="eva_star2_ss"></i>
                    <p>ー</p>
                <% end %>
            <% else %>
                <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="eva_star2_ss"></i>
                <p>ー</p>
            <% end %>
        </div>
    </div>
<!-----感想-------------------------------------->
    <div class="evaluation_content1" id="evaluation_content1">
        <div class="evaluation_content3" id="evaluation_content3">
            <h3>評価/感想</h3>
            <% if @number != 0 || @number2 != 0 %>
                <% @evaluations_storages.each do | evaluation | %>
                    <% @rater = User.find_by(id: evaluation.rater_id) %>
                    <div class="user_containar" id="user_containar">
                        <div class="icon_wrapp_evaluation" id="icon_wrapp_evaluation">
                            <% if @rater.image_name %>
                                <%= link_to("/users/seen/#{@rater.id}") do %>
                                    <div class="users_icon" id="another_user">
                                        <img class="icon_img" src="<%= "/user_images/#{@rater.image_name}" %>" alt="">
                                    </div>
                                <% end %>
                            <% else %>
                                <%= link_to("/users/seen/#{@rater.id}") do %>
                                    <i class="fas fa-user-circle fa-8x icon_color"></i>
                                <% end %>
                            <% end %>
                            <p class="rater_name"><%= @rater.name %></p>
                        </div>

<!-----user_containar要素2-------------------------------------->
                        <div class="evaluation1_containar" id="evaluation1_containar">
                            <p>評価</p>
                            <div class="">
                                <i class="fas fa-star move_star" id="eva_star"></i>
                                <%= evaluation.overall %>
                            </div>
                        </div>
<!-----user_containar要素3-------------------------------------->
                        <div class="introduction1_wrap11" id="introduction1_wrap11">
                            <div class="introduction11">
                                <div class="box11" id="box11_eva">
                                    <p><%= evaluation.comment %></p>
                                </div>
                            </div>
                            <p><%= evaluation.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                        </div>
<!-----user_containar終了-------------------------------------->
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
