<div class="beginners">
    <p>Second Houseはワンちゃんを</p><br>
    <p>預けたい人と預かりたい人が繋がるマッチングサービスです</p>
</div>
<div class="balloon_contaier">
    <div class="balloon">
        <p>・ワンちゃんを飼いたいけど飼えない</p>
        <p>・お休みの日にワンちゃんとお散歩したい</p>
    </div>

    <div class="balloon">
        <p>・ワンちゃんを預けたい</p>
        <p>・最近忙しくてお散歩に行けてない</p>
    </div>
</div>
<div class="mockman">
    <div class="mockman_item">
        <img class="" src="/mockman.jpg" alt="">
        <p>預かりたい</p>
    </div>
    <div class="mockman_item1">
        <img class="" src="/mockman_01.jpg" alt="">
        <p>預けたい</p>
    </div>
</div>

<!SecondHouseのメリット-------------------------->

<div class="merit">
    <p class="merit_title">Second Houseのメリット</p>

    <div class="merit_deposit">
        <p class="merit_title1">預かるひと</p>
        <div class="icon_contair">
            <div class="square">
                <div class="icon color1">
                    <i class="fas fa-dog fa-5x my-example"></i>
                </div>
                <p class="square_title">ワンちゃんと遊べる</p><br>
                <div class="messeage">
                    <p>ワンちゃんが大好きという方は</p>
                    <p>Second Houseでワンちゃんを預かってみませんか？ワンちゃんとの時間は素敵な体験と喜びをもらえますよ。可愛いワンちゃんに癒されてください！</p>
                </div>
            </div>
            <div class="square">
                <div class="icon color2 my-example">
                    <i class="fas fa-yen-sign fa-5x"></i>
                </div>
                <p class="square_title">料金は無料！！</p><br>
                <div class="messeage">
                    <p>レンタルドッグの相場は1泊8,000円〜10,000円ですが、<br>
                        Second Houseでは無料でワンちゃんとの時間を楽しめます。飼い主さんも預かって欲しい方を探しているので飼い主さんも喜んでもらって一石二鳥です！</p>
                </div>
            </div>
            <div class="square">
                <div class="icon color3 my-example">
                    <i class="fas fa-home fa-5x"></i>
                </div>
                <p class="square_title">家の近くで探せる</p><br>
                <div class="messeage">
                    <p>家の近くのワンちゃんを預かれるのでお気に入りのワンちゃんがいたらまた会えますよ！飼い主さん次第ですが、リクエスト機能を使ってお散歩など、もう一度したい場合はお願いすることもできます。</p>
                </div>
            </div>
        </div>
    </div>
<!SecondHouseのメリット（預けるひと）----------------->
    <div class="merit_deposit1">
        <p class="merit_title1">預けるひと</p>
        <div class="icon_contair">
            <div class="square_deposit">
                <div class="icon color4">
                    <i class="fas fa-store-alt fa-5x my-example"></i>
                </div>
                <p class="square_title1">ペットホテルより安心</p><br>
                <div class="messeage">
                    <p>ペットホテルではゲージの中に入れて預かるところが多いですし、夜間は人がいないお店もあります。また多数のワンちゃんがいますので鳴き声でストレスを感じたり、病気が感染してしまうこともあります。</p>
                </div>
            </div>
            <div class="square_deposit">
                <div class="icon color5 my-example">
                    <i class="fas fa-user fa-5x"></i>
                </div>
                <p class="square_title1">同じ人に預けられる</p><br>
                <div class="messeage">
                    <p>同じペットホテルに預けてもスタッフさんはいつも同じ人とは限りません。Second Houseではリクエスト機能で一度預かってもらった方に再度お願いすることができます。ワンちゃんと相性がいい方がいるSecond Houseを見つけましょう！</p>
                </div>
            </div>

            <div class="square_deposit">
                <div class="icon color6 my-example">
                    <i class="fas fa-yen-sign fa-5x"></i>
                </div>
                <p class="square_title1">料金が無料!!</p><br>
                <div class="messeage">
                    <p>ペットホテルでは1泊3500円ほどしますがSecond Houseでは無料です！ </p>
                    <p>仮に1週間2匹のワンちゃんを預ける場合はペットホテルの場合は約5万円しますがSecondHouseなら無料です。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!SecondHouseのはじめかた-------------------------->

<div class="start">
    <p class="start_title">SecondHouseのはじめかた</p>
    <div class="start_deposi">
        <p>預かるひと</p>
    </div>
    <div class="start_warrap">

        <div class="start_flow">
            <i class="fas fa-desktop fa-6x start_icon"></i>
            <i class="fas fa-chevron-right start_Arrow"></i>
            <i class="fas fa-paw fa-6x start_icon"></i>
            <i class="fas fa-chevron-right start_Arrow"></i>
            <i class="far fa-envelope fa-6x start_mail"></i>
            <i class="fas fa-chevron-right start_Arrow"></i>
            <i class="far fa-handshake fa-6x start_mail"></i>
        </div>
        <div class="start_text">
            <div class="start_text1 place">
                <p>SecondHouseに</p>
                <p>登録する（無料）</p>
            </div>
            <div class="start_text1 place2">
                <p>お気に入りの</p>
                <p>ワンちゃんを見つける</p>
            </div>
            <div class="start_text1 place3">
                <p>飼い主さんに</p>
                <p>連絡する</p>
            </div>
            <div class="start_text1 place4">
                <p>飼い主さんに</p>
                <p>OKをもらう</p>
            </div>
        </div>
        </div>
        <div class="start_deposi1">
            <p>預けるひと</p>
        </div>
        <div class="start_warrap">
            <div class="start_flow1">
                <i class="fas fa-desktop fa-6x start_icon"></i>
                <i class="fas fa-chevron-right start_Arrow"></i>
                <i class="far fa-file-alt fa-6x start_mail1"></i>
                <i class="fas fa-chevron-right start_Arrow"></i>
                <i class="far fa-envelope fa-6x start_mail"></i>
                <i class="fas fa-chevron-right start_Arrow"></i>
                <i class="far fa-handshake fa-6x start_mail"></i>
            </div>
        <div class="start_text">
            <div class="start_text1 place">
                <p>SecondHouseに</p>
                <p>登録する（無料）</p>
            </div>
            <div class="start_text1 place5">
                <p>預かって欲しい</p>
                <p>日程を決める</p>
            </div>
            <div class="start_text1 place6">
                <p>預かりたい人</p>
                <p>から連絡がくる</p>
            </div>
            <div class="start_text1 place7">
                <p>預かってもらう人を</p>
                <p>決める</p>
            </div>
        </div>
    </div>
</div>
<!SecondHouseを始めてみよう-------------------------->

<div class="registration_gaide">
    <p>あなたも今すぐ会員登録してみましょう！</p>
</div>

    <div class="registration_add">
        <div class="container_add">
            <div class="container1">
                <h3>新規登録</h3>
                <p>
                    Second Houseに会員登録いただくと、ワンちゃんを預けたり、預かったりすることができます。登録にはたったの3ステップ、1分もかかりません。</p>
                </div>
                <div class="form">
                    <%= form_tag("/users/new") do %>
                        <p>メールアドレス</p>
                        <div class="form_email">
                            <input name="email" type="email" value="" placeholder="info@second_house.jp">
                        </div>
                        <div class="form_email1">
                            <input type="submit" value="登録する">
                        </div>
                    <% end %>
                </div>
                <div class="font">
                    <%= link_to("既にSecond Houseに登録している方はこちら", "/users/login") %>
                </div>
            </div>
        </div>
<!ご利用ガイド-------------------------->
<div class="User_Guide" id="guide_hei">
    <div class="guide">
        <img class="" src="/guide.jpg" alt="">
        <p>ご利用ガイド</p>
    </div>

  <!1行目------------------------------->
    <div class="User_Guide_wrapp">
        <%= link_to("/support/entrusted_dog") do %>
            <div class="User_Guide_item_l">
                <div class="User_Guide_logo">
                    <img class="guide_dog" src="/guide_azu.gif" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>ワンちゃんを預けたい</h2>
                    <p>ワンちゃんのプロフィール作成方法、預けるまでの流れ、代金の支払いなどについて</p>
                </div>
            </div>
        <% end %>
        <%= link_to("support/deposit_dog") do %>
            <div class="User_Guide_item">
                <div class="User_Guide_logo">
                    <img class="guide_dog" src="/guide_deposit.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>ワンちゃんを預りたい</h2>
                    <p>ご近所でお気に入りのワンちゃんを見つけてワンちゃんライフを楽しもう！</p>
                </div>
            </div>
        <% end %>
    </div>

<!2行目------------------------------->
    <div class="User_Guide_wrapp">
        <%= link_to("/support/flow") do %>
            <div class="User_Guide_item_l">
                <div class="User_Guide_logo">
                    <img class="" src="/guide_flow.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>やりとりの流れ</h2>
                    <p> 会員登録からお預け、お預かり、お迎え完了まで、Second Houseでのやりとりの流れとメッセージ文章のテンプレートなど。</p>
                </div>
            </div>
        <% end %>
        <%= link_to("/support/rule") do %>
            <div class="User_Guide_item">
                <div class="User_Guide_logo">
                    <img class="" src="/guide_rule.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>ルールとマナー</h2>
                    <p>Second Houseで禁止されている行為、ユーザー間のやり取りのマナーをご案内。</p>
                </div>
            </div>
        <% end %>
    </div>


<!3行目------------------------------->
    <div class="User_Guide_wrapp">
        <%= link_to("/support/about_evaluation") do %>
            <div class="User_Guide_item_l">
                <div class="User_Guide_logo">
                    <img class="" src="/guide_safe.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>評価について</h2>
                    <p>飼い主さんの評価、預かった人の評価のご利用ガイドはこちらから。評価の項目の説明やガイドラインの説明など。</p>
                </div>
            </div>
        <% end %>
        <%= link_to("/notation/safe") do %>
            <div class="User_Guide_item">
                <div class="User_Guide_logo">
                    <img class="" src="/guide_q.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>安心・安全の取り組み</h2>
                    <p>安心・安全の決済システム、パトロール、評価システム、ランク認定制度、本人確認などの取り組みをご案内。</p>
                </div>
            </div>
        <% end %>
    </div>

<!4行目------------------------------->
    <div class="User_Guide_wrapp">
        <%= link_to("/notation/guide_payment") do %>
            <div class="User_Guide_item_l">
                <div class="User_Guide_logo">
                    <img class="" src="/guide_pay.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>お支払い方法・手数料</h2>
                    <p>初期費用・月会費はかかりません。マッチング手数料、決済手段、リクエストを受けた場合の代金の受取方法などをご案内。</p>
                </div>
            </div>
        <% end %>
        <%= link_to("/support/index") do %>
            <div class="User_Guide_item_l" id="last_box">
                <div class="User_Guide_logo">
                    <img class="" src="/guide_q&a.jpg" alt="">
                </div>
                <div class="User_Guide_Description">
                    <h2>よくある質問</h2>
                    <p>会員登録、お預け、お預かりなどから、キャンセル、利者ランクなど、よくある質問のリストです。</p>
                </div>
            </div>
        <% end %>
    </div>
</div>
