<div class="space">

</div>
<% @day = @request.waiting %>
<% @day00 = @request.end %>

<<<<<<< HEAD
<div class="entrusted">
    <div class="status1">
        <h1><i class="fas fa-map-marker-alt"></i><%= @day.year %>年<%= @day.month %>月<%= @day.day %>日の預かり依頼</h1>

        <div class="container_cul">
            <div class="left_cul">
                <p><i class="fas fa-map-marker-alt"></i>飼い主さん</p>
                <%= link_to("/users/seen/#{@user_owner.id}") do %>
                    <% if @user_owner.image_name %>
                          <div id="icon_choi" class="users_icon">
                            <img id="icon_choice" class="icon_img" src="<%= "/user_images/#{@user_owner.image_name}" %>" alt="">
                          </div>
                    <% else %>
                          <div id="icon_choi" class="users_icon">
                              <i class="fas fa-user-circle fa-8x icon_color" id="user_ic_ch"></i>
                              <div class="icon_add">
                                  <i class="fas fa-camera fa-2x icon_camera2"></i>
                                  <i class="fas fa-plus icon_plus2"></i>
                              </div>
                          </div>
                      <% end %>
                  <% end %>
                  <div class="choiced_user1">
                      <p><%= @user_owner.name %></p>
                      <p><%= @user_owner.sex %>/<%= @year1 %>歳</p>
                  </div>
                  <%= link_to("/users/seen/direct_message/#{@user_owner.id}") do %>
                      <div class="support_button edit_button" id="choice_btn">
                          <p>メッセージを送る</p>
                      </div>
                  <% end %>
                    <div class="btn_manage">
                        <% if  @request.status_partner == 1  %>
                            <%= link_to("/users/impression/#{@request.id}") do %>
                                <div class="evaluation_button1">
                                    <p>完了する</p>
                                </div>
                            <% end %>
                        <% elsif @request.status_partner == 2 %>
                            <%= link_to("/users/impression/#{@request.id}") do %>
                                <div class="evaluation_button1">
                                    <p>評価する</p>
                                </div>
                            <% end %>
                        <% else %>
                            <div id="eva_fin">
                                <p>評価済み</p>
                            </div>
                        <% end %>
                    </div>
            </div>
            <div class="rightcul_container">
                <div class="right_cul">
                    <h2 class="item_re"><i class="fas fa-check-square dog"></i>リクエスト内容</h2>
                    <% if @request.status === 0 %>
                        <div class="request_content">
                            <p><i class="fas fa-check-circle"></i>ステータス</p>
                            <p>依頼者決定待ち</p>
                        </div>
                    <% elsif @request.status === 1 %>
                        <div class="request_content">
                            <p><i class="fas fa-check-circle"></i>ステータス</p>
                            <p>完了待ち</p>
                        </div>
                    <% end %>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>待ち合わせ時間</p>
                        <p><%= @day.year %>年<%= @day.month %>月<%= @day.day %>日<%= @day.hour %>時<%= @day.min %>分</p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>お迎え時間</p>
                        <p><%= @day00.year %>年<%= @day00.month %>月<%= @day00.day %>日<%= @day00.hour %>時<%= @day00.min %>分</p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>預けるワンちゃん</p>
                        <p>
                            <% if @dog1 %>
                                <% if @dog1.sex == "男の子" %>
                                    <%=@dog1.name %>くん
                                <% else %>
                                    <%=@dog1.name %>ちゃん
                                <% end %>
                            <% end %>
                            <% if @dog2 %>
                                <% if @dog2.sex == "男の子" %>
                                    ,<%=@dog2.name %>くん
                                <% else %>
                                    ,<%=@dog2.name %>ちゃん
                                <% end %>
                            <% end %>
                            <% if @dog3 %>
                                <% if @dog3.sex == "男の子" %>
                                    ,<%=@dog3.name %>くん
                                <% else %>
                                    ,<%=@dog3.name %>ちゃん
                                <% end %>
                            <% end %>
                        </p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>待ち合わせ場所</p>
                        <p><%= @request.adress %></p>
                    </div>
                    <h2 class="item_re"><i class="fas fa-check-square dog"></i>預かってもらう方にして欲しいこと</h2>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>散歩/1日</p>
                        <p><%= @request.walk %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>散歩時間/1回あたり</p>
                        <p><%= @request.walk_time %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>エサ/1日あたり</p>
                        <p><%= @request.bait %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>おやつ</p>
                        <p><%= @request.snack %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>トイレシートの交換/1日</p>
                        <p><%= @request.toilet %></p>
                    </div>
                    <% if  @request.comment_ok.present? %>
                        <div class="request_content">
                            <p><i class="fas fa-check-circle"></i>備考</p>
                            <div class="comment_item">
                                <%= @request.comment_ok  %>
                            </div>
                        </div>
                    <% end %>
                    <h2 class="item_re"><i class="fas fa-exclamation-triangle dog"></i>預かってもらう方にして欲しくないこと</h2>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>ワンちゃんの留守番時間</p>
                        <p><%= @request.caretaker %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>小さいお子さんがいる家庭</p>
                        <p><%= @request.child %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>先住犬がいる方</p>
                        <p><%= @request.native %></p>
                    </div>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>他の動物を飼っている方</p>
                        <p><%= @request.animal %></p>
                    </div>
                    <% if  @request.comment_ng.present? %>
                        <div class="request_content">
                            <p><i class="fas fa-check-circle"></i>備考</p>
                            <div class="comment_item">
                                <%= @request.comment_ng  %>
                            </div>
                        </div>
                    <% end %>
                    <div class="space"></div>

                </div>
            </div>

        </div>

    </div>

</div>
<!--スマホ--->
<div class="entrusted" id="entrusted">
    <div class="evaluation_head" id="evaluation_head">
        <h1><i class="fas fa-map-marker-alt"></i><%= @day.year %>年<%= @day.month %>月<%= @day.day %>日の預かり依頼</h1>
    </div>
    <div class="user_infomation">
        <p><i class="fas fa-map-marker-alt"></i>飼い主さん</p>
        <%= link_to("/users/seen/#{@user_owner.id}") do %>
            <% if @user_owner.image_name %>
                  <div id="icon_choi_ss" class="users_icon">
                    <img id="icon_choice" class="icon_img" src="<%= "/user_images/#{@user_owner.image_name}" %>" alt="">
                  </div>
            <% else %>
                  <div id="icon_choi_ss" class="users_icon">
                      <i class="fas fa-user-circle fa-6x icon_color" id="user_ic_ch_s"></i>
                  </div>
            <% end %>
        <% end %>
        <div class="choiced_user1">
            <p><%= @user_owner.name %></p>
            <p><%= @user_owner.sex %>/<%= @year1 %>歳</p>
        </div>
    </div>

    <%= link_to("/users/seen/direct_message/#{@user_owner.id}") do %>
        <div class="support_button edit_button" id="choice_btn_ss">
            <p>メッセージを送る</p>
        </div>
    <% end %>

    <div class="btn_manage">
        <% if  @request.status_partner == 1  %>
            <%= link_to("/users/impression/#{@request.id}") do %>
                <div class="evaluation_button1" id="choice_btn_ss">
                    <p>完了する</p>
                </div>
            <% end %>
        <% elsif @request.status_partner == 0 %>

        <% elsif @request.status_partner == 2 %>
            <%= link_to("/users/impression/#{@request.id}") do %>
                <div class="evaluation_button1" id="choice_btn_ss">
                    <p>評価する</p>
                </div>
            <% end %>
        <% elsif @request.status_partner == 3 %>
            <div id="eva_fin_ss">
                <p>評価済み</p>
            </div>
        <% end %>
    </div>
    <div class="rightcul_container" id="rightcul_container">
        <div class="right_cul" id="right_cul">
            <h2 class="item_re" id="item_re"><i class="fas fa-check-square dog"></i>リクエスト内容</h2>
            <% if @request.status === 0 %>
                <div class="request_content" id="request_content">
                    <p><i class="fas fa-check" id="check_s"></i><ステータス</p>
                    <p>依頼者決定待ち</p>
                </div>
            <% elsif @request.status === 1 %>
                <div class="request_content" id="request_content">
                    <p><i class="fas fa-check" id="check_s"></i><ステータス</p>
                    <p>完了待ち</p>
                </div>
            <% end %>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>待ち合わせ時間</p>
                <p><%= @day.year %>年<%= @day.month %>月<%= @day.day %>日<%= @day.hour %>時<%= @day.min %>分</p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>お迎え時間</p>
                <p><%= @day00.year %>年<%= @day00.month %>月<%= @day00.day %>日<%= @day00.hour %>時<%= @day00.min %>分</p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>預けるワンちゃん</p>
                <p>
                    <% if @dog1 %>
                        <% if @dog1.sex == "男の子" %>
                            <%=@dog1.name %>くん
                        <% else %>
                            <%=@dog1.name %>ちゃん
                        <% end %>
                    <% end %>
                    <% if @dog2 %>
                        <% if @dog2.sex == "男の子" %>
                            ,<%=@dog2.name %>くん
                        <% else %>
                            ,<%=@dog2.name %>ちゃん
                        <% end %>
                    <% end %>
                    <% if @dog3 %>
                        <% if @dog3.sex == "男の子" %>
                            ,<%=@dog3.name %>くん
                        <% else %>
                            ,<%=@dog3.name %>ちゃん
                        <% end %>
                    <% end %>
                </p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>待ち合わせ場所</p>
                <p><%= @request.adress %></p>
            </div>
            <h2 class="item_re" id="item_re"><i class="fas fa-check-square dog"></i>預かってもらう方にして欲しいこと</h2>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>散歩/1日</p>
                <p><%= @request.walk %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>散歩時間/1回あたり</p>
                <p><%= @request.walk_time %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>エサ/1日あたり</p>
                <p><%= @request.bait %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>おやつ</p>
                <p><%= @request.snack %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>トイレシートの交換/1日</p>
                <p><%= @request.toilet %></p>
            </div>
            <% if  @request.comment_ok.present? %>
                <div class="request_content" id="request_content">
                    <p><i class="fas fa-check" id="check_s"></i>備考</p>
                    <div class="comment_item" id="comment_item">
                        <%= @request.comment_ok  %>
                    </div>
                </div>
            <% end %>
            <h2 class="item_re" id="item_re"><i class="fas fa-exclamation-triangle dog"></i>預かってもらう方にして欲しくないこと</h2>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>ワンちゃんの留守番時間</p>
                <p><%= @request.caretaker %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>小さいお子さんがいる家庭</p>
                <p><%= @request.child %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>先住犬がいる方</p>
                <p><%= @request.native %></p>
            </div>
            <div class="request_content" id="request_content">
                <p><i class="fas fa-check" id="check_s"></i>他の動物を飼っている方</p>
                <p><%= @request.animal %></p>
            </div>
            <% if  @request.comment_ng.present? %>
                <div class="request_content" id="request_content">
                    <p><i class="fas fa-check" id="check_s"></i>備考</p>
                    <div class="comment_item" id="comment_item">
                        <%= @request.comment_ng  %>
                    </div>
                </div>
            <% end %>
            <div class="space"></div>
        </div>
    </div>
=======

<div class="status1">
    <h1><i class="fas fa-map-marker-alt"></i><%= @day.year %>年<%= @day.month %>月<%= @day.day %>日の預かり依頼</h1>

    <div class="container_cul">
        <div class="left_cul">
            <p><i class="fas fa-map-marker-alt"></i>飼い主さん</p>
            <%= link_to("/users/seen/#{@user_owner.id}") do %>
                <% if @user_owner.image_name %>
                      <div id="icon_choi" class="users_icon">
                        <img id="icon_choice" class="icon_img" src="<%= "/user_images/#{@user_owner.image_name}" %>" alt="">
                      </div>
                <% else %>
                      <div id="icon_choi" class="users_icon">
                          <i class="fas fa-user-circle fa-8x icon_color" id="user_ic_ch"></i>
                          <div class="icon_add">
                              <i class="fas fa-camera fa-2x icon_camera2"></i>
                              <i class="fas fa-plus icon_plus2"></i>
                          </div>
                      </div>
                  <% end %>
              <% end %>
              <div class="choiced_user1">
                  <p><%= @user_owner.name %></p>
                  <p><%= @user_owner.sex %>/<%= @year1 %>歳</p>
              </div>
              <%= link_to("/users/seen/direct_message/#{@user_owner.id}") do %>
                  <div class="support_button edit_button" id="choice_btn">
                      <p>メッセージを送る</p>
                  </div>
              <% end %>
                <div class="btn_manage">
                    <% if  @request.status_partner == 1  %>
                        <%= link_to("/users/impression/#{@request.id}") do %>
                            <div class="evaluation_button1">
                                <p>完了する</p>
                            </div>
                        <% end %>
                    <% elsif @request.status_partner == 2 %>
                        <%= link_to("/users/impression/#{@request.id}") do %>
                            <div class="evaluation_button1">
                                <p>評価する</p>
                            </div>
                        <% end %>
                    <% else %>
                        <div id="eva_fin">
                            <p>評価済み</p>
                        </div>
                    <% end %>
                </div>
        </div>
        <div class="rightcul_container">
            <div class="right_cul">
                <h2 class="item_re"><i class="fas fa-check-square dog"></i>リクエスト内容</h2>
                <% if @request.status === 0 %>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>ステータス</p>
                        <p>依頼者決定待ち</p>
                    </div>
                <% elsif @request.status === 1 %>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>ステータス</p>
                        <p>完了待ち</p>
                    </div>
                <% end %>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>待ち合わせ時間</p>
                    <p><%= @day.year %>年<%= @day.month %>月<%= @day.day %>日<%= @day.hour %>時<%= @day.min %>分</p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>お迎え時間</p>
                    <p><%= @day00.year %>年<%= @day00.month %>月<%= @day00.day %>日<%= @day00.hour %>時<%= @day00.min %>分</p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>預けるワンちゃん</p>
                    <p>
                        <% if @dog1 %>
                            <% if @dog1.sex == "男の子" %>
                                <%=@dog1.name %>くん
                            <% else %>
                                <%=@dog1.name %>ちゃん
                            <% end %>
                        <% end %>
                        <% if @dog2 %>
                            <% if @dog2.sex == "男の子" %>
                                ,<%=@dog2.name %>くん
                            <% else %>
                                ,<%=@dog2.name %>ちゃん
                            <% end %>
                        <% end %>
                        <% if @dog3 %>
                            <% if @dog3.sex == "男の子" %>
                                ,<%=@dog3.name %>くん
                            <% else %>
                                ,<%=@dog3.name %>ちゃん
                            <% end %>
                        <% end %>
                    </p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>待ち合わせ場所</p>
                    <p><%= @request.adress %></p>
                </div>
                <h2 class="item_re"><i class="fas fa-check-square dog"></i>預かってもらう方にして欲しいこと</h2>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>散歩/1日</p>
                    <p><%= @request.walk %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>散歩時間/1回あたり</p>
                    <p><%= @request.walk_time %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>エサ/1日あたり</p>
                    <p><%= @request.bait %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>おやつ</p>
                    <p><%= @request.snack %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>トイレシートの交換/1日</p>
                    <p><%= @request.toilet %></p>
                </div>
                <% if  @request.comment_ok.present? %>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>備考</p>
                        <div class="comment_item">
                            <%= @request.comment_ok  %>
                        </div>
                    </div>
                <% end %>
                <h2 class="item_re"><i class="fas fa-exclamation-triangle dog"></i>預かってもらう方にして欲しくないこと</h2>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>ワンちゃんの留守番時間</p>
                    <p><%= @request.caretaker %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>小さいお子さんがいる家庭</p>
                    <p><%= @request.child %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>先住犬がいる方</p>
                    <p><%= @request.native %></p>
                </div>
                <div class="request_content">
                    <p><i class="fas fa-check-circle"></i>他の動物を飼っている方</p>
                    <p><%= @request.animal %></p>
                </div>
                <% if  @request.comment_ng.present? %>
                    <div class="request_content">
                        <p><i class="fas fa-check-circle"></i>備考</p>
                        <div class="comment_item">
                            <%= @request.comment_ng  %>
                        </div>
                    </div>
                <% end %>
                <div class="space"></div>

            </div>
        </div>

    </div>

>>>>>>> refs/remotes/origin/master
</div>
