<div class="space"></div>
<div class="space"></div>

<div class="evaluation_show">
    <div class="evaluation_wrapp">
        <div class="profile">
<!------------------アイコンの有無---------------------->
            <% if @user.image_name %>
                <div class="icon_wrapp_evaluation">
                    <div class="users_icon">
                        <img class="icon_img" src="<%= "/user_images/#{@user.image_name}" %>" alt="">
                    </div>
                </div>
            <% else %>
                <div class="icon_wrapp_evaluation">
                    <div class="users_icon">
                        <%= link_to("/users/edit/#{@user.id}") do %>
                            <i class="fas fa-user-circle fa-8x icon_color"></i>
                            <div class="icon_add">
                                <i class="fas fa-camera fa-2x icon_camera2"></i>
                                <i class="fas fa-plus icon_plus2"></i>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
<!------------------ここまでアイコンの有無---------------------->
<!------------------左側メニュー------------------------------->
            <div class="evaluation_name">
                <%= @user.name %>
            </div>
            <div class="evaluation_edit">
                <%= link_to("/users/edit/#{@user.id}") do %>
                    <div class="evaluation_button">
                        <p>基本情報を編集する</p>
                    </div>
                <% end %>
                <%= link_to("/users/seen/#{@user.id}") do %>
                    <div class="evaluation_button1">
                        <p>自分のページを見る</p>
                    </div>
                <% end %>
            </div>

            <div class="evaluation_info">
                <h4>実績</h4>
                <div class="evaluation_containar move_m">
                    <p>利用回数</p>
                    <p class="elacement"><%= @num %></p>
                </div>
                <div class="evaluation_containar">
                    <p>評価</p>
                    <div class="">
                        <% if @user_evaluation.nan? %>
                            <p><i class="fas fa-star move_star"></i>ー</p>
                        <% else %>
                            <i class="fas fa-star move_star"></i>
                            <%= @user_evaluation %>
                        <% end %>
                    </div>
                </div>
                <div class="evaluation_containar">
                    <p>フォロワー</p>
                    <p><%= @num_follow %></p>
                </div>
            </div>

            <div class="detaile_pro">

                <h4 class="">認証状況</h4>
                <div class="detaile_pro_move">
                    <p class="id_detail">本人確認</p>
                    <% if @user_detail %>
                        <% if @user_detail.approval == 1 %>
                            <i class="fas fa-user-circle human no_pa no_ma"></i>
                            <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                        <% else %>
                            <i class="fas fa-user-circle human  no_pa no_ma"></i>
                            <p class="">ー</p>
                        <% end %>
                        <% else %>
                            <i class="fas fa-user-circle human no_pa no_ma"></i>
                            <p class="">ー</p>
                    <% end %>
                </div>
                <div class="detaile_pro_move">
                    <p class="id_detail">受け取り口座</p>
                    <% if @bank %>
                        <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="bank_fin"></i>
                        <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                    <% else %>
                        <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="bank_fin"></i>
                        <p class="">ー</p>
                    <% end %>
                </div>
                <div class="detaile_pro_move">
                    <p class="id_detail">お支払い方法</p>
                    <% if @user_detail %>
                        <% if @user_detail.pay == 1 %>
                            <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                            <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                        <% else %>
                            <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                            <p>ー</p>
                        <% end %>
                    <% else %>
                        <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                        <p>ー</p>
                    <% end %>
                </div>
            </div>
        </div>
<!------------------ここまで左側メニュー------------------------>
<!-----利用履歴-------------------------------------->
        <div class="evaluation_content1">
            <div class="evaluation_content">
                <div class="account_info">
                    <div class="account_head_cont">
                        <h3 id="account_head">アカウント情報</h3>
                    </div>

                    <div class="account_info_item">
                        <p>ユーザーID</p>
                        <p><%= @user.id %></p>
                    </div>
                    <div class="account_info_item">
                        <p>電話番号</p>
                        <p><%= link_to("登録する", "/support/phone") %></p>
                    </div>
                    <div class="account_info_item">
                        <p>メールアドレス</p>
                        <p><%= link_to("変更する", "/support/email") %></p>
                    </div>
                    <div class="account_info_item">
                        <p>パスワード</p>
                        <p><%= link_to("変更する", "/support/password") %></p>
                    </div>
                    <div class="account_info_item">
                        <p>クレジットカード</p>
                        <% if @user_detail %>
                            <p><%= link_to("変更する", "/support/cc") %></p>
                        <% else %>
                            <p class="bank_user">登録する<span>(会員情報登録後可能)</span></p>
                        <% end %>
                    </div>
                    <div class="account_info_item">
                        <p>振込口座</p>
                        <% if @user_detail %>
                            <p><%= link_to("登録する", "/support/bank") %></p>
                        <% else %>
                            <p class="bank_user">登録する<span>(会員情報登録後可能)</span></p>
                        <% end %>
                    </div>
                </div>
                <div class="account_info">
                    <div class="account_head_cont">
                        <h3 id="account_head">各種認証申請</h3>
                    </div>

                    <div class="account_info_item">
                        <p>会員情報</p>
                        <% if @user_detail %>
                            <p class="minus_fin"><i class="fas fa-check-circle" id="minus"></i>登録済み</p>
                            <p class="minus2_fin"><p><%= link_to("編集する", "/support/user_information") %></p>
                        <% else %>
                            <p class="minus"><i class="fas fa-minus" id="minus"></i>未登録</p>
                            <p class="minus2"><p><%= link_to("登録する", "/support/user_information") %></p>
                        <% end %>

                    </div>
                    <div class="account_info_item">
                        <p>本人確認</p>
                        <% if @user_detail %>
                            <% if @user_detail.approval.present? %>
                                <p class="minus_fin"><i class="fas fa-check-circle" id="minus"></i>承認済み</p>
                                <p class="minus2_fin"><%= link_to("変更申請する", "/support/user_identification") %></p>
                            <% else %>
                                <p class="minus"><i class="fas fa-minus" id="minus"></i>未承認</p>
                                <p class="minus2"><%= link_to("申請する", "/support/user_identification") %></p>
                                <p class="item_las">会員情報登録後に申請可能です</p>
                            <% end %>
                        <% else %>
                            <p class="minus"><i class="fas fa-minus" id="minus"></i>未承認</p>
                            <p class="minus2"><%= link_to("申請する", "/support/user_identification") %></p>
                            <p class="item_las">会員情報登録後に申請可能です</p>
                        <% end %>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
