<div class="space"></div>

<div class="evaluation_show">
    <div class="evaluation_wrapp">
        <div class="profile">
<!------------------アイコンの有無---------------------->
            <% if @user.image_name %>
                <div class="icon_wrapp_evaluation">
                    <div class="users_icon">
                        <img class="icon_img" src="<%= "/user_images/#{@user.image_name}" %>" alt="">
                    </div>
                </div>
            <% else %>
                <div class="icon_wrapp_evaluation">
                    <div class="users_icon">
                        <%= link_to("/users/edit/#{@user.id}") do %>
                            <i class="fas fa-user-circle fa-8x icon_color"></i>
                            <div class="icon_add">
                                <i class="fas fa-camera fa-2x icon_camera2"></i>
                                <i class="fas fa-plus icon_plus2"></i>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
<!------------------ここまでアイコンの有無---------------------->
<!------------------左側メニュー------------------------------->
            <div class="evaluation_name">
                <%= @user.name %>
            </div>
            <div class="evaluation_edit">
                <%= link_to("/users/edit/#{@user.id}") do %>
                    <div class="evaluation_button">
                        <p>基本情報を編集する</p>
                    </div>
                <% end %>
                <%= link_to("/users/seen/#{@user.id}") do %>
                    <div class="evaluation_button1">
                        <p>自分のページを見る</p>
                    </div>
                <% end %>
            </div>

            <div class="evaluation_info">
                <h4>実績</h4>
                <div class="evaluation_containar move_m">
                    <p>利用回数</p>
                    <p class="elacement"><%= @num %></p>
                </div>
                <div class="evaluation_containar">
                    <p>評価</p>
                    <div class="">
                        <% if @user_evaluation.nan? %>
                            <p><i class="fas fa-star move_star"></i>ー</p>
                        <% else %>
                            <i class="fas fa-star move_star"></i>
                            <%= @user_evaluation %>
                        <% end %>
                    </div>
                </div>
                <div class="evaluation_containar">
                    <p>フォロワー</p>
                    <p><%= @num_follow %></p>
                </div>
            </div>

            <div class="detaile_pro">

                <h4 class="">認証状況</h4>
                <div class="detaile_pro_move">
                    <p class="id_detail">本人確認</p>
                    <% if @user_detail %>
                        <% if @user_detail.approval == 1 %>
                            <i class="fas fa-user-circle human no_pa no_ma"></i>
                            <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                        <% else %>
                            <i class="fas fa-user-circle human  no_pa no_ma"></i>
                            <p class="">ー</p>
                        <% end %>
                        <% else %>
                            <i class="fas fa-user-circle human no_pa no_ma"></i>
                            <p class="">ー</p>
                    <% end %>
                </div>
                <div class="detaile_pro_move">
                    <p class="id_detail">受け取り口座</p>
                    <% if @bank %>
                        <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="bank_fin"></i>
                        <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                    <% else %>
                        <i class="far fa-credit-card move_card no_pa no_ma2 ma" id="bank_fin"></i>
                        <p class="">ー</p>
                    <% end %>
                </div>
                <div class="detaile_pro_move">
                    <p class="id_detail">お支払い方法</p>
                    <% if @user_detail %>
                        <% if @user_detail.pay == 1 %>
                            <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                            <p class="check_fin"><i class="fas fa-check-square no_pa no_ma2 ma"></i></p>
                        <% else %>
                            <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                            <p>ー</p>
                        <% end %>
                    <% else %>
                        <i class="fas fa-money-check-alt no_pa no_ma2 ma" id="id_card"></i>
                        <p>ー</p>
                    <% end %>
                </div>
            </div>
        </div>
<!------------------ここまで左側メニュー------------------------>
<!-----利用履歴-------------------------------------->
        <%= form_tag("/support/user_edit") do %>
            <div class="email_content_wrapp">
                <div class="head_back">
                    <h1>メールアドレス変更</h1>
                    <%= link_to("/support/configuration/#{@user.id}") do %>
                        <p><i class="fas fa-chevron-left no_pa"></i>設定に戻る</p>
                    <% end %>
                </div>

                <div class="email_content">
                    <div class="email_item">
                        <p>メールアドレス</p>
                        <div class="email_inp_wrapp">
                            <%= email_field :email_inp, :name, value:@user.email %>
                            <p>メールアドレスを変更すると新しいメールアドレスに確認のメールが送信されます。送られたメールに記載されているURLにアクセスし、変更を完了してください。</p>
                        </div>
                    </div>
                    <div class="email_item" id="email_move2">
                        <p id="sub_mail2">パスワード</p>
                        <div class="email_inp_wrapp">
                            <input id="email_pass" type="password" name="email_pass" value="">
                        </div>
                    </div>
                    <div class="email_btn_wrapp">
                        <div class="input_edit_containar">
                            <input class="input_phone" type="submit" name="update" value="変更する">
                        </div>
                        <p><a href="/support/re_password">パスワードを忘れた方はこちら</a></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<!-----スマホ---->
<div class="evaluation_show" id="email">
    <div class="evaluation_head">
        <h1>メールアドレス変更</h1>
    </div>
    <div class="email_content_wrapp">
        <%= form_tag("/support/user_edit") do %>
                <div class="head_back" id="head_back">
                    <%= link_to("/support/configuration/#{@user.id}") do %>
                        <p><i class="fas fa-chevron-left no_pa"></i>設定に戻る</p>
                    <% end %>
                </div>

                <div class="email_content" id="email_content_ss">
                    <div class="email_item" id="email_item">
                        <p>メールアドレス</p>
                        <div class="email_inp_wrapp" id="email_inp_wrapp">
                            <%= email_field :email_inp, :name, value:@user.email %>
                            <p>メールアドレスを変更すると新しいメールアドレスに確認のメールが送信されます。送られたメールに記載されているURLにアクセスし、変更を完了してください。</p>
                        </div>
                    </div>
                    <div class="email_item" id="email_item_ss">
                        <p>パスワード</p>
                        <div class="email_inp_wrapp" id="email_inp_wrapp">
                            <input id="email_pass" type="password" name="email_pass" value="">
                        </div>
                    </div>
                    <div class="email_btn_wrapp" id="email_btn_wrapp">
                        <div class="input_edit_containar" id="input_edit_containar">
                            <input class="input_phone" type="submit" name="update" value="変更する">
                        </div>
                        <p><a href="/support/re_password">パスワードを忘れた方はこちら</a></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
